/*------------------ HEADER ------------------*/
body {
  margin: 0;
  background: #ffffff;
}

header {
  background: #000000;
  color: #fff;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .logo img {
  width: 150px;
  vertical-align: middle;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 100px;
  /* Diminuí o gap */
}

nav ul a {
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  /* Deixa a fonte mais forte */
  text-decoration: none;
  text-transform: uppercase;
  /* Coloca o texto em maiúsculas */
  transition: color 0.3s;
  font-size: 1.2rem;
}

nav ul a:hover {
  color: #fa680a;
}

.auth-buttons a.btn {
  background-color: #fa680a;
  color: #fff;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  transition: background-color 0.3s;
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 30px;
  padding: 0 25px 0 100px;
  /* PADDING AJUSTADO: Cima/Baixo | Direita | Esquerda */
  font-size: 1.2rem;
  box-sizing: border-box;
}

.auth-buttons a.btn:hover {
  background-color: #e85a00;
}

.auth-buttons img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 15px;
}



/*------------------ HERO SECTION ------------------*/
.hero-section {
  background-image: url('../assets/img/Banner\ Galileu\ Robotics.png'); 
  background-size: cover;
  /* Faz a imagem cobrir toda a área da seção */
  background-position: center;
  /* Centraliza a imagem */
  padding: 100px 0;
  /* Espaçamento interno (vertical | horizontal) */
}

.hero-section .container {
  max-width: 650px;
  /* Define a largura máxima do bloco de texto */
  margin-left: auto;
  /* Alinha o container à direita */
  margin-right: 150px;
  text-align: left;
  /* Alinha o texto dentro do container à esquerda */
}

.hero-title {
  font-family: 'Exo 2', sans-serif;
  color: #fa680a;
  font-size: 1.5rem;
  font-weight: 800;
  margin: -10px 0 10px 0;
}

.hero-subtitle {
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: -10px;
  margin-bottom: 20px;
}

.hero-description {
  font-family: 'Lato', sans-serif;
  color: #fff;
  line-height: 1.3;
  /* Espaçamento entre as linhas */
  margin-bottom: 30px;
  margin-top: -10px;
  max-width: 550px;
}

.littleOrange {
  color: #fa680a;
}

.btn-cta {
  background-color: #fa680a;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 30px;
  transition: background-color 0.3s;
  display: inline-block;
}

.btn-cta:hover {
  background-color: #e85a00;
}



/*------------------ QUICK ACCESS ------------------*/
.quick-access-section {
  padding: 40px 100px 20px 100px;
  /* Espaçamento */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.quick-access-section .container {
  display: flex;
  /* Alinha os cards lado a lado */
  justify-content: space-between;
  /* Distribui os cards igualmente */
  gap: 20px;
  /* Espaço entre os cards */
}

.access-card {
  text-align: center;
  /* Centraliza todo o conteúdo do card */
  max-width: 250px;
  /* Largura máxima de cada card */
}

.card-icon {
  height: 70px;
  /* Altura fixa para os ícones */
  margin-bottom: -20px;
  /* Espaço abaixo do ícone */
}

.card-title {
  color: #fa680a;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.25rem;
  margin-bottom: -15px;
}

.card-description {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

.card-link {
  text-decoration: none;
  /* Remove o sublinhado padrão dos links */
}

.access-card {
  /* Adiciona uma transição suave para o efeito de hover */
  text-align: center;
  max-width: 250px;
  transition: transform 0.3s ease;
  /* Transição suave */
}

.card-link:hover .access-card {
  /* Efeito de "levantar" o card quando o mouse passa por cima */
  transform: translateY(-5px);
  /* Move o card 5px para cima */
  /*box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); Sombra para mais destaque */
}



/*------------------ MANIFESTO SECTION ------------------*/
.manifesto-section {
  padding: 150px 0 100px 0;
  /* Espaçamento interno vertical */
  background: linear-gradient(to bottom, #ffffff, #dddddd);
  /* Um cinza bem escuro para diferenciar do preto */
}

.manifesto-section .container {
  display: flex;
  /* Ativa o layout flex para criar as colunas */
  align-items: center;
  /* Alinha as duas colunas verticalmente */
  gap: 30px;
  /* Espaço entre a coluna de texto e a de imagem */
  margin-left: 100px;
  max-height: 200px;
}

.manifesto-text {
  flex: 1;
  /* Faz a coluna de texto ocupar o espaço disponível */
}

.manifesto-visual {
  flex: 1;
  /* Faz a coluna de imagem ocupar o espaço disponível */
}

.manifesto-visual video {
  width: 70%;
  /* Faz a imagem ocupar 100% da largura da sua coluna */
  border-radius: 30px;
  /* Bordas levemente arredondadas para a imagem */
}

.manifesto-text .section-title {
  /* Estilos para o título e parágrafo da seção */
  font-family: 'exo 2', sans-serif;
  color: #000000;
  margin-bottom: 20px;
}

.manifesto-text .section-description {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #000000;
  line-height: 1.7;
  /* Aumenta o espaçamento entre as linhas para melhor leitura */
  max-width: 700px;
}



/*------------------ DIFERENCIAIS SECTION ------------------*/
.diferenciais-section {
  padding: 80px 0px 80px 100px;
  background-color: #fff;
  /* Fundo branco */
  color: #000000;
  /* Texto escuro */
}

.diferenciais-section .container {
  display: flex;
  align-items: center;
  gap: 50px;
  /* Espaço entre a imagem e o conteúdo */

}

.diferenciais-visual {
  /* Coluna da Imagem */
  flex-basis: 30%;
  /* Define a largura base da coluna da imagem */
}

.diferenciais-visual img {
  width: 100%;
  border-radius: 20px;
  /* Bordas bem arredondadas */
}

.diferenciais-conteudo {
  /* Coluna do Conteúdo */
  flex-basis: 60%;
  /* Define a largura base da coluna de conteúdo */
}

.diferenciais-conteudo .section-title {
  color: #000000;
  /* Título preto */
  font-size: 1.7rem;
  margin-bottom: -13px;
  margin-left: 20px;
}

.diferenciais-conteudo .section-description {
  color: #000000;
  /* Descrição com um cinza um pouco mais claro */
  font-size: 1.4rem;
  margin-bottom: 30px;
  margin-left: 20px;
}

.diferenciais-grid {
  /* Grid dos Cards */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Cria duas colunas de largura igual */
  gap: 20px;
  /* Espaço entre os cards */
}

.diferencial-card {
  border: 2px solid #050000;
  /* Borda */
  padding: 0 20px 0px 20px;
  border-radius: 50px;
  /* Bordas arredondadas */
  box-shadow: 5px 5px 0 #d6d6d6;
  /* X | Y | Blur (zero) | Cor */
  height: 200px;

}

.diferencial-card h3 {
  font-family: 'exo 2', sans-serif;
  color: #000000;
  font-size: 1.25rem;
  margin-bottom: -15px;
  font-weight: 800;
  /* Deixa o título mais "bold" */
}

.diferencial-card p {
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 1.25rem;
  line-height: 1.6;
}



/*------------------ FOOTER ------------------*/
.main-footer {
  color: #fff;
}

.footer-upper {
  /* Faixa Laranja Superior */
  background-color: #fa680a;
  padding: 2px 0;
}

/* Área Preta Inferior */
.footer-lower {
  background-color: #000;
  padding: 30px 0;
}

.footer-title h3 {
  font-family: 'exo 2';
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0;
}

.footer-lower .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Alinha os itens no topo */
  padding: 0 100px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
  /* Espaço entre os links */
}

.footer-links a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fa680a;
}




/* ajeitar o tamanho dos icones */
.footer-social a {
  margin-left: -10px;
  /* Espaço entre os ícones sociais */
}

.footer-social img {
  height: 45px;
  /* Tamanho dos ícones */
  opacity: 0.7;
  transition: opacity 0.3s;
}

.footer-social a:hover img {
  opacity: 1;
}

.footer-lower .footer-copyright {
  /* Copyright */
  background-color: #000;
  text-align: center;
  color: #ffffff;
  margin-bottom: -50px;
}





/*========================TELA SOBRE============================*/

/* Seção 1: Hero Image */
.about-hero {
  width: 100%;
  height: 400px; /* Altura da imagem principal */
}

.about-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
}

.about-content {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
  position: relative; /* Necessário para os círculos decorativos */
  overflow: hidden; /* Garante que os círculos não "vazem" */
}

.about-content .container {
  display: flex;
  gap: 60px;
  align-items: center; /* Alinha verticalmente o texto com a imagem */
  padding: 0px 60px 0px 60px;
}

.about-text {
  flex-basis: 60%; /* Dando um pouco mais de espaço para o texto */
}

.about-text h2 {
  font-family: 'exo 2', sans-serif;
  font-size: 1.8rem; /* Aumentando um pouco o título */
  font-weight: 800;
  color: #000;
  margin-bottom: -10px;
}

.about-text p {
  font-family: 'lato', sans-serif;
  font-size: 1.2rem;
  margin-bottom: -10px; /* Aumentando o espaçamento entre parágrafos */
  color: #000000; /* Um cinza mais suave para o texto */
}

/* Estilo específico para a lista (Inspiramos, etc.) */
.about-text ul {
  list-style: none; /* Remove a bolinha padrão */
  padding-left: 0;
  margin-top: 15px;
}

.about-text ul li {
  font-family: 'lato', sans-serif;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 5px;
  padding-left: 25px; /* Cria espaço para a nossa bolinha customizada */
  position: relative; /* Define o ponto de referência para a bolinha */
}

/* Cria a bolinha laranja customizada */
.about-text ul li::before {
  content: ''; /* Essencial para pseudo-elementos */
  position: absolute;
  left: 0;
  top: 11px; /* Ajusta a posição vertical da bolinha */
  width: 7px;
  height: 7px;
  background-color: #000000;
  border-radius: 50%; /* Transforma o quadrado em círculo */
}

.about-text ul li strong {
  color: #000;
  font-weight: 700;
}

.about-visual {
  flex-basis: 40%;
}

.about-visual img {
  width: 100%;
  border-radius: 20px;
}

.join-team-section {
  background-color: #e6e6e6; /* Fundo cinza claro */
  padding: 0px 0px 60px;
}

.join-team-section .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.join-team-section .mascot-right {
  width: 25rem;
  height: auto;
}

.join-team-section .mascot-left {
  width: 25rem;
  height: auto;

}

.join-team-form {
  text-align: center;
  max-width: 470px;
}

.join-team-form h3 {
  font-family: 'exo 2', sans-serif;
  font-size: 1.6rem;
  color: #000;
  margin-bottom: 10px;
}

.join-team-form p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #000000;
  font-family: 'lato', sans-serif;
  margin-top: -5px;
}

.join-team-form-campo {
  margin-top: 40px;
}

.join-team-form input {
  width: 77%;
  padding: 7px 20px; /* Padding interno */
  margin-bottom: 30px;
  font-family: 'lato', sans-serif;
  font-size: 1rem;

  /* Estilo do Design */
  background-color: transparent; /* Fundo transparente */
  border: 2px solid #fa680a; /* Borda laranja */
  border-radius: 30px; /* Bordas de "pílula" */
  color: #333; /* Cor do texto quando o usuário digita */
}

/* Deixa o texto do placeholder (Nome, E-mail) mais sutil */
.join-team-form input::placeholder {
  color: #aaa;
}

/* Remove a borda padrão que alguns navegadores colocam ao clicar */
.join-team-form input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(250, 104, 10, 0.5); /* Efeito de brilho laranja opcional */
}

.join-team-form .btn-cta {
  width: 40%;
  border: none;
  cursor: pointer;
  padding: 10px; /* Garante a mesma altura dos inputs */
  border-radius: 30px; /* Bordas de "pílula" */
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fa680a; /* Sobrescreve o estilo padrão de .btn-cta */
  color: #fff;
  margin-top: 10px;
}

.join-team-form .btn-cta:hover {
    background-color: #e85a00;
}

/* O estilo dos mascotes continua o mesmo */
.mascot-left, .mascot-right {
  height: 150px; 
}